{% load events_tags %}

<p>{{ event.creator.username }}: {{ event.description }}</p>
			{% if attending %}
				<p> You are attending this event </p>
			{% else %}
				<p> You aren't attending this event</p>
			{% endif %}
			<form method = "POST" class = "toggle_attendance_form" action = "{% url ev_toggle_attendance %}">
				{% csrf_token %}
				<input type="hidden" name="event_id" value="{{event.id}}"/>
				{% if attending %}
				<input class="attendance unattend" type = "submit" value = "Unattend" />
				{% else %}
				<input class = "attendance attend" type ="submit" value = "Attend"/>
				{% endif %}
			</form>
