{% extends "base.html" %}
{% load events_tags %}
{% block title %}Tonight -{{ block.super}}{% endblock %}


{% block main_content %}
	<a href="{% url ev_create %}">Create an Event</a>
	{% if events %}
		{% for e in events %}
		<!-- not need any more -->
			{% event e %}
		{% endfor %}
	{% else %}
		<p>No events for today.</p>
	{% endif %}

{% endblock %}